<h1 id="tableLabel">{{ caption }}</h1>

<p *ngIf="!people">
    <em>Loading...</em>
</p>

<button mat-icon-button
        color="primary"
        class="btn-add"
        (click)="openDialog()">
    <mat-icon>add</mat-icon>
</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- PersonId Column -->
    <ng-container matColumnDef="personId">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let person"> {{person.personId}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let person"> {{person.name}} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let person">
            <button mat-icon-button
                    color="primary"
                    [routerLink]="['/person', person.personId]">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button
                    color="warn"
                    (click)="removePerson(person.personId)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row
        (click)="setActivePerson(row, row.personId)"
        *matRowDef="let row; columns: columns;"></tr>
</table>
